---
import PrimaryLayout from "@layouts/primary.astro";
import EventsList from "@components/EventsList.astro";
import Item from "@components/Item.astro";
import { getCollection, getEntry } from "astro:content";

export const prerender = false;

const { id } = Astro.params;

const venue = await getEntry("venues", id);
const events = await getCollection(
    "events",
    (event) => event.data.location.id === venue.id
);
---

<PrimaryLayout>
    <main>
        <Item item={venue}>
            {
                venue.data.url && (
                    <div>
                        <a href={venue.data.url}>{venue.data.url}</a>
                    </div>
                )
            }
        </Item>
        <EventsList events={events} />
    </main>
</PrimaryLayout>
