---
import PrimaryLayout from "@layouts/primary.astro";
import { getCollection, getEntry } from "astro:content";
import EventsList from "@components/EventsList.astro";
import Item from "@components/Item.astro";

export const prerender = false;

const { id } = Astro.params;
const band = await getEntry("bands", id);
const events = await getCollection("events", ({ data }) =>
    data.performer.find((x) => x.id === band?.id)
);
---

<PrimaryLayout>
    <main>
        <Item item={band}>
            {
                band.data.url && (
                    <div>
                        <a href={band.data.url}>{band.data.url}</a>
                    </div>
                )
            }
        </Item>

        <EventsList events={events} />
    </main>
</PrimaryLayout>
