---
import PrimaryLayout from "@layouts/primary.astro";
import CollectionHeader from "@components/CollectionHeader.astro";
import { getCollection } from "astro:content";
import Item from "@components/Item.astro";

export const prerender = false;

const bands = await getCollection("bands");

const filter = Astro.url.searchParams.get("keyword");
const filtered = !filter
    ? bands
    : bands.filter((band) => band.data.keywords.includes(filter));

const sorted = filtered.sort((a, b) => (a.data.name > b.data.name ? 1 : -1));
---

<PrimaryLayout>
    <main>
        <CollectionHeader collection="bands" {filter}>
            <p>
                Missing your favorite band? Let us know at <a
                    href="mailto:contribute@corvallisalt.org"
                    >contribute@corvallisalt.org</a
                >
            </p>
        </CollectionHeader>
        <section>
            <ul>
                {sorted.map((band) => <Item item={band} />)}
            </ul>
        </section>
    </main>
</PrimaryLayout>

<style>
    ul {
        padding-left: 0;
    }
</style>
