---
import PrimaryLayout from "@layouts/primary.astro";
---

<PrimaryLayout>
	<main>
		<section>
			<h3>Upcoming Events</h3>
			<ul>
				<li>Event 1</li>
				<li>Event 2</li>
				<li>Event 3</li>
			</ul>
		</section>
		<section>
			<h3>Recent Posts</h3>
			<ul>
				<li>Post 1</li>
				<li>Post 2</li>
				<li>Post 3</li>
			</ul>
		</section>
	</main>
</PrimaryLayout>
