---

interface Props {
    collection: any;
    filter: string | null;
}

const { collection, filter } = Astro.props;

---

<header>
    <hgroup>
        <h2>
            {
                filter && (
                    <a class="filter" href={"/" + collection}>{filter}</a>
                )
            }
            <slot name="title">{collection}</slot>
        </h2>
    </hgroup>
    <slot/>
</header>

<style>
    h2 {
        text-transform: capitalize;
    }

    .filter {
        position: relative;
    }
    .filter::before {
        content: '#';
        position: absolute;
        right: 100%;
    }
    .filter:hover {
        text-decoration: line-through;
        text-decoration-color: var(--color);
    }

    header {
        border-bottom: 3px solid lightgray;
        margin-bottom: 2rem;
        padding-bottom: .5rem;
    }
</style>