---
interface Props {
    collection: any;
    filter: string | null;
}

const { collection, filter } = Astro.props;
---

<header>
    <hgroup>
        <h2>
            {
                filter && (
                    <a class="alt filter" href={"/" + collection}><!--
                        --!>{filter}</a>
                )
            }
            <slot name="title">{collection}</slot>
        </h2>
    </hgroup>
    <slot />
</header>

<style>
    h2 {
        text-transform: capitalize;
    }

    .filter {
        position: relative;
    }
    .filter::before {
        content: "#";
        position: absolute;
        right: 100%;
    }
    .filter:hover {
        text-decoration: line-through;
        text-decoration-color: var(--color);
    }

    header {
        grid-area: content-header;
        border-bottom: 3px solid;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
</style>
