---
import type { CollectionEntry } from 'astro:content';
import { group } from 'src/utils';
import EventItem from './EventItem.astro';
import { DateTime } from 'luxon';


type Event = CollectionEntry<"events">;

const events: Event[] = Astro.props.events;

const timeGroups = {
    upcoming: (event: Event) => DateTime.fromJSDate(event.data.startDate) >= DateTime.now(),
    past: (event: Event) => DateTime.fromJSDate(event.data.startDate) < DateTime.now(),
};

const grouped = group(events, timeGroups);

---
{
    Object.entries(grouped).filter(([_, evts]) => evts.length > 0).map(([group, evts]) => (
        <section>
            <hgroup>
                <h4>{group}</h4>
            </hgroup>
            <ul>
                {evts.map((event) => (<EventItem {event} />))}
            </ul>
        </section>
    ))
}

<style>

    hgroup time {
        font-size: 1.5rem;
        color: var(--primary);
        margin-left: .5rem;

    }

    hgroup {
        text-transform: capitalize;
        display: flex;
        align-items: center;
        border-bottom: 2px solid currentColor;
        flex-wrap: wrap;
    }

    h3 {
        white-space: nowrap;
    }

    section ul {
        padding: 1.5rem 0.5rem;
    }

    section {
        margin-bottom: 2rem;
    }

</style>