---
import Item from "@components/Item.astro";
import { getEntries } from "astro:content";
import { format } from "src/utils";

const { event } = Astro.props;

if (!event.data.name) {
    const bands = await getEntries(event.data.performer);
    event.data.name = bands.map((band: any) => band.data.name).join(", ");
}

const cost = event.data.cost?.price ? "$" + event.data.cost.price : "Free";
---

<Item item={event}>
    <ul>
        <li class="bands">
            {
                event.data.performer.map((band: any) => (
                    <a href={"/bands/" + band.id}>{band.id}</a>
                ))
            }
        </li>
        <li class="venue">
            <a href={"/venues/" + event.data.location.id}>
                {event.data.location.id}
            </a>
        </li>
        <li class="time">
            <time>
                <a href={format(event.data.startDate, "'/events/'yyyy-MM#dd")}>
                    {format(event.data.startDate, "MMM d,")}
                </a>
                <span>{format(event.data.startDate, "h a")}</span>
            </time>
            <li class="cost">
                {cost}
                {event.data?.cost?.suggested && " (suggested)"}
            </li>
        </li>
    </ul>

    <style>
        ul {
            list-style: none;
            padding-left: 1.3rem;
        }

        ul a {
            margin: 0;
            display: inline-block;
            margin-right: 0.3rem;
        }

        li {
            position: relative;
            margin: 0;
            margin-left: 1rem;
        }

        li::before {
            position: absolute;
            right: 100%;
            top: 3.5px;
            margin-right: 0.3rem;
            font-size: 0.8rem;
            font-family: var(--title-font);
        }

        .bands::before {
            content: "ft.";
        }
        .venue::before {
            content: "at";
        }

        .time::before {
            content: "on";
        }
        .bands a:not(:last-child)::after {
            content: " ";
        }

        .cost::before {
            content: "for";
        }

        small {
            font-size: 0.8rem;
            font-family: var(--title-font);
        }

        .keyword:not(:last-child)::after {
            content: " ";
        }
    </style>
</Item>
