---
import Item from "@components/Item.astro";
import TagLine from "@components/TagLine.astro";
import { format } from "date-fns";
const { event } = Astro.props;
const { data } = event;

console.log(event.data.performer);
---

<Item item={event}>
    <ul>
        <li class="bands">
            {
                event.data.performer.map((band: any) => (
                    <a href={"/bands/" + band.id}>{band.id}</a>
                ))
            }
        </li>
        <li class="venue">
            <a href={"/venues/" + event.data.location.id}>
                {event.data.location.id}
            </a>
        </li>
        <li class="time">
            <time>{format(event.data.startDate, "MMM d, h a")}{format(event.data.endDate, ' - h a')</time>
        </li>
    </ul>
</Item>

<style>
    ul {
        list-style: none;
        padding-left: 1.3rem;
    }

    ul a {
        margin: 0;
    }

    li {
        position: relative;
        margin: 0;
    }

    li::before {
        position: absolute;
        right: 100%;
        bottom: 1px;
        margin-right: 0.3rem;
        font-size: 0.8rem;
        font-family: var(--title-font);
    }

    .bands::before {
        content: "ft.";
    }
    .venue::before {
        content: "at";
    }

    .time::before {
        content: "on";
    }
    .bands a:not(:last-child)::after {
        content: " ";
    }

    small {
        font-size: 0.8rem;
        font-family: var(--title-font);
    }

    .keyword:not(:last-child)::after {
        content: " ";
    }
</style>
