---
import { addQueryParam } from "src/utils";
const { tags, href } = Astro.props;
const link = (tag: string) => addQueryParam(href ? new URL(Astro.url.origin + href) : Astro.url, "keywords", tag);
---

<div>
    {
        tags.sort().map((tag: string) => (
            <a class="tag" href={link(tag)}><!--
                --!>{tag}
            </a>
        ))
    }
</div>
