---
import { addQueryParam } from "src/utils";
const { href, tags } = Astro.props;
---

<div class="tags">
    {
        tags
            .sort()
            .map((tag: string) => (
                <a href={addQueryParam(Astro.url, "keyword", tag)}>{tag}</a>
            ))
    }
</div>

<style>
    a {
        display: inline-block;
        margin: 0 0 0 0.25rem;
    }
</style>
