---
import { addQueryParam } from "src/utils";
const { tags } = Astro.props;

const link = (tag: string) => addQueryParam(Astro.url, "keywords", tag);
---

<div>
    {
        tags.sort().map((tag: string) => (
            <a class="tag" href={link(tag)}><!--
                --!>{tag}
            </a>
        ))
    }
</div>
