---
import EventItem from "@components/EventItem.astro";
import Item from "@components/Item.astro";
import PrimaryLayout from "@layouts/primary.astro";
import { getCollection, getEntries, getEntry } from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
    const pages = await getCollection("events");
    return pages.map((event) => {
        const [month, ...id] = event.id.split("/");
        return {
            params: { month, id: id.join('/') },
            props: { event },
        };
    });
}

const { event } = Astro.props;
const bands = await getEntries(event.data.performer);
const venue = await getEntry(event.data.location);
---

<PrimaryLayout>
    <main>
        <EventItem {event} />
        <section>
            <h3>Performers</h3>
            <ul>
                {bands.map((band) => <Item item={band} />)}
            </ul>
        </section>
        {
            venue && (
                <section>
                    <h3>Location</h3>
                    <Item item={venue} />
                </section>
            )
        }
    </main>
</PrimaryLayout>

<style>
    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        margin-bottom: 2rem;
    }
</style>
