---
import PrimaryLayout from "@layouts/primary.astro";
---

<PrimaryLayout>
    <main>
        <slot />
    </main>
</PrimaryLayout>

<style>
    main {
        flex: auto;
        max-width: 960px;
        margin: 0 auto;
    }
</style>

<style is:global>
    main :first-child {
        margin-top: 0;
    }
</style>
