---
import { DateTime } from "luxon";
import cfg from 'src/config';
export const prerender = false;

const month = DateTime.now()
    .setZone(cfg.TIMEZONE)
    .toFormat("yyyy-MM");

return Astro.redirect("/events/" + month);
---

<a href={"/events/" + month}>Redirecting to this month: {month}</a>
