---
import PrimaryLayout from "@layouts/primary.astro";
import EventList from "@components/EventsList.astro";
import { getCollection } from "astro:content";
import { isFuture } from "date-fns";
import CollectionHeader from "@components/CollectionHeader.astro";

export const prerender = false;

const events = await getCollection("events", ({ data }) =>
    isFuture(data.startDate)
);

const filter = Astro.url.searchParams.get("keyword");
const filtered = !filter
    ? events
    : events.filter(({ data }) => data.keywords.includes(filter));
---

<PrimaryLayout>
    <main>
        <CollectionHeader collection="events" {filter}>
            <p>Music events local to Corvallis and the surrounding areas.</p>
            <p>
                Don't see your event? Let us know at <a
                    href="mailto:contribute@corvallisalt.org"
                    >contribute@corvallisalt.org</a
                >
            </p>
        </CollectionHeader>
        <EventList events={filtered} />
    </main>
</PrimaryLayout>
