---
import { DateTime } from "luxon";

export const prerender = false;

const month = DateTime.now()
    .setZone(import.meta.env.VITE_IANA_TIMEZONE)
    .toFormat("yyyy-MM");

return Astro.redirect("/events/" + month);
---

<a href={"/events/" + month}>Redirecting to this month: {month}</a>
